html,
body {
    height: 100%;
    overflow: hidden;
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

.nav {

    width: 250px;
    height: 100%;
    float: left;
    background: #4a4a4a;
    color: #fff;
    padding: 15px 0;
}

.nav ul {
    margin-top: 30px;
    list-style: none;

    padding: 0;
    width: 100%;

}

.nav ul li {

}

.nav ul li a {
    display: block;
    color: #fff;
    width: 100%;
    text-decoration: none;
    padding: 5px 15px;
}

.nav ul li a:hover {
    background: rgb(255 255 255 / 10%);
}

.main {
    width: calc(100% - 250px);
    height: 100%;
    overflow: hidden;
    float: right;
}

.content {
    padding: 15px;
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
    background: #f9f9f9;
    padding: 15px;
}

.header {
    height: 50px;
    width: 100%;
    background: #04aaf4;
    color: #fff;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.card {
    background: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 0.03);
}

.page {
    min-height: 100%;
    padding: 15px 0;
}
